<div class="form-group row">
    <div class="col-lg-6">
      <%= form_with model: @post do |f| %>
      
    <div class="form-group">
      <%= f.label :"ショップ写真（必須）" %>
      <%= f.file_field :post_image, accept: "image/*" %>
    </div>

    <div class="form-group">
      <%= f.label :"ショップ名（必須）" %>
      <%= f.text_field :shop_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :"住所（必須）" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :"本文（必須）" %>
      <%= f.text_area :text, class: "form-control" %>
    </div>	
    
    <div class="form-group">
    <label>タグ(,で区切ると複数タグ登録できます)</label>
     <%= f.text_field :name,value: @tag_list, class: 'form-control' %>
     <% if post_cafe.new_record? %>
     <%= f.submit '新規作成', class: "btn btn-success mt-4" %>
     <% else %>
     <%= f.submit '更新する', class: "btn btn-success mt-4" %>
     <% end %>
    <% end %>
  </div>
</div>
