 <table class="table table-borderless">
   
  <tr>
    <td><%= image_tag @post.post_image, size: "300x200" %></td>
  </tr>
  <tr>
    <td><%= @post.shop_name %></td>
  </tr>
  <tr>
    <td><%= @post.text %></td>
  </tr>
  <tr>
    <td><%= @post.address %></td>
  </tr>
  <tr>
    <td id="favorite_buttons_<%= @post.id %>" >
    <%= render "public/favorites/favorite", post: @post %></td>
  </tr>
  <div id='map'></div>
  <style>
    #map{
    height: 400px;
    }
  </style>

  <script>
    function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script></td>
   </tr>
  <td>
    <%= link_to "編集する", edit_post_path(@post), class:"btn", style: "background-color: #64CCC5; color: white; ml-3" %>
  </td>
  </tr>
</table>
