<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="text-dark  p-4 mb-0">
        <h4 class="d-flex justify-content-center">新規登録</h4>
        <h6 class="d-flex justify-content-center">
          <%= link_to "ログイン", new_user_session_path %>
        </h6>
        <div class="form-body p-4">
         <hr>
         <%= form_with model: @user, url: user_registration_path do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
            </div>
              <%= f.text_field :name, autofocus: true, placeholder: "name" ,class:"form-control w-100"%>
          </div>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class:"form-control w-100" %>
           　<%= f.password_field :password, autocomplete: "current-password",  placeholder: "password6文字以上", class:"form-control" %> 
             <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "確認用", class:"form-control"%>
          <hr>
          <%= f.submit '新規登録', class:"btn btn-lg btn-block mt-4", style: "background-color: #9F6767; color: white;"%>
        <% end %>
       </div>
      </div>
    </div>
  </div>
</div>