<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table table-borderless">
        <h4 class="my-4"><%= @user.name %>さんのユーザー情報編集</h4>
         <%= form_with model: [:admin, @user] do |f| %>
        <tr>
          <td>UserID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td>Name</td>
          <td><%= f.text_field :name %></td>
        </tr>

        <tr>
          <td>email</td>
          <td><%= f.text_field :email %></td>
        </tr>

        <tr>
          <td>Userステータス</td>
          <td>
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効", { value: :false }  %>
　　　　　　<%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会", { value: :true } %>
          </td>
        </tr>
      </table>
      <div style="margin-left:140px;"> 
       <%= f.submit '変更を保存', class: "btn",style: "background-color: #795a5a; color: white;" %>
       <% end %>
    </div>
  </div>
</div>