<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @user.name %>さんの詳細</h4>
      <div class="d-flex align-items-center">
        <table class="table table-borderless">
          <tr>
            <th>UserID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>Name</td>
            <td><%= @user.name %></td>
          </tr>
    
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <th>ユーザーステータス</th>
            <td><%= @user.user_status %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= link_to "編集する", edit_admin_user_path, class:"btn", style: "background-color: #64CCC5; color: white;" %></td>
        </table>
      </div>
    </div>
  </div>
</div>