<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="text-dark  p-4 mb-0">
        <h4 class="d-flex justify-content-center">ログイン</h4>
        <h6 class="d-flex justify-content-center">
          <%= link_to "新規登録", new_user_registration_path %>
        </h6>
        <div class="form-body p-4">
         <hr>
         <%= form_with model: @user, url: session_path(resource_name) do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
            </div>
            　<%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "email", class:"form-control w-100" %>
          </div>
           　<%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class:"form-control" %> 
          <hr>
          <%= f.submit 'ログイン', class:"btn btn-lg btn-block mt-4", style: "background-color: #9F6767; color: white;" %>
        <% end %>
       </div>
      </div>
    </div>
  </div>
</div>
