<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <% if @user.email == 'guest@example.com'%>
       <p>ゲストユーザーはユーザー情報の編集ができません。</p>
        <% else %>
        <%= form_with model: @user do |f| %>
        <div class="form-body p-4">
          <div class="row mb-3">
            <h5 class="text-dark col-6">編集</h5>
            <div class="col-6">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary"%>
              <%= link_to "退会",  users_unsubscribe_path, class: "btn btn-outline-danger" %>
            </div>
            </div>
          <hr>
          <%= f.file_field :profile_image, accept: "image/*", class: "w-100", style: 'display:none;'  %>
           <%= image_tag @user.get_profile_image, size: "200x200",onClick: "$('.img_field').click()", class: "img_prev mt-3 rounded-circle" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
            </div>
            <%= f.text_field :name, class:"form-control", placeholder:"name" %>
          </div>
          <%= f.text_field :email, class:"form-control", rows:"3", placeholder:"email" %>
          <%= f.text_area :introduction, class: "form-control", placeholder:"自己紹介" %>
          <hr>
          <%= f.submit '編集', class:"btn btn-lg btn-block mt-4", style: "background-color: #9F6767; color: white;" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>