<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">情報編集</h4>
      <table class="table table-borderless">
        <% if @user.email == 'guest@example.com'%>
        <p>ゲストユーザーはユーザー情報の編集ができません。</p>
        <% else %>
        <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <tr>
          <td><%= f.label :image %></td>
          <td><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></td>
        </tr>
        <tr>
          <td>name</td>
          <td><%= f.text_field :name %></td>
        </tr>
        
        <tr>
          <td>自己紹介</td>
          <td><%= f.text_field :introduction %></td>
          <td></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存", class:"btn", style: "background-color: #64CCC5; color: white;" %></td>
          <td><%= link_to "退会する", users_withdraw_path, class:"btn btn-danger" %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>