<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">マイページ</h4>
      <div class="d-flex align-items-center">
      <table class="table table-borderless">
        
        <tr>
          <td><%= image_tag @user.get_profile_image, size: '100x100' %></td>
        </tr>
        
        <tr>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td><%= @user.introduction %></td>
        </tr>

        <tr>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", users_information_edit_path, class:"btn", style: "background-color: #64CCC5; color: white; ml-3" %>
            <%= link_to "ログアウト", users_information_edit_path, method: :delete, class:"btn", style: "background-color: #64CCC5; color: white; ml-3" %>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>