<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
         My page
         <div class="row">
          <%= image_tag @user.get_profile_image, size: '200x200',class:"mt-3 rounded-circle" %>
          <%= link_to "編集", edit_user_path(@user), class:"text-dark" %>
         </div>
         <div class="row">
           <%= @user.name %>
         </div>
          <h6><%= @user.followers.count %></h6>
          <h6><%= @user.followeds.count %></h6>
              <%= @user.introduction %>
              <%= @user.email %>
        </div>
      </div>
    </div>
  </div>
</div>