<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
       <div class="col-4 mb-5">
          <%= image_tag @user.get_profile_image, size: '200x200',class:"mt-3 rounded-circle" %>
       </div>
       <% if @user.id == current_user.id %>
       <div class=" mt-5 mr-5">
          <%= link_to "編集", edit_user_path(@user), class:"text-dark" %>
       </div>
       <% else %>
       <div class="mt-5 mb-5">
         <div id="follow_buttons_<%= @user.id %>"><%= render "public/relationships/relationship", user: @user %></div>
       </div>
       <% end %>
         <div class="row ml-5">
          <h3><%= @user.name %></h3>
          <h5 class="ml-5">
            <div id="followers_counts"><%= render "public/relationships/follower", user: @user %>フォロー</div>
            <div id="followeds_counts"><%= render "public/relationships/followed", user: @user %>フォロワー</div>
          </h5>
          <div class="row border">
          <h4 classs="mr-auto mt-5"><%= @user.introduction %></h4>
         </div>
         <hr>
         <div class="row">
          <div class="post ml-5"><%= render "public/posts/index", posts: @posts %></div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

