<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-dark", style="background-color:#563a3a;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      	  <li>
    		    <%= link_to posts_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i>
            <% end %>
          </li>
          <li>
    		      <%= link_to search_posts_path,class: 'nav-link text-light' do %>
              <i class="fas fa-search-plus"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path,class: 'nav-link text-light' do %>
            <i class="fas fa-plus-circle"></i>
            <% end %>
          </li>
          <li>
    		    <%= link_to indexfav_posts_path,class: 'nav-link text-light' do %>
              <i class="far fa-heart"></i>
            <% end %>
          </li>
          <li>
    		    <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
             <i class="far fa-user-circle"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
</nav>
<% elsif admin_signed_in? %>
<% else %>
 <nav class="navbar navbar-expand-lg navbar-dark", style="background-color:#563a3a;">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li>
          <%= link_to posts_path,class: 'nav-link text-light' do %>
        <i class="fas fa-home"></i>
          <% end %>
        </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
